<ion-modal-view>
 <ion-header-bar class="bar-pesa">
  <h1 class="title text-center" style="color:#ffffff;">Cash Collection Entry</h1>
  <div class="buttons">
    <button class="button" style="background-color: #004B91;" ng-click="closeAndclear()"><i class="icon ion-close-circled" style="color:#D19B07;"></i></button>
  </div>
</ion-header-bar>
<ion-content class="padding">

  <form class="list" name="CollectionEntryForm">
    <div>
    <label class="item item-input item-select">
      <div class="input-label">
        <b>Currency:</b>
      </div>
      <select ng-if="!CollectionEntry.entryId" data-ng-options="Currency as Currency.currencyName+' - '+Currency.currencyCode for Currency in fetchCurrencies()" data-ng-model="CollectionEntry.Currency" class="form-control"  ng-change='currencyChange()'>
        <option value="" ng-if="!CollectionEntry.Currency">Select Currency</option>
      </select>
      <input ng-if="CollectionEntry.entryId" type="text" ng-value="CollectionEntry.Currency.currencyName+' - '+CollectionEntry.Currency.currencyCode" class="form-control" readonly="">
    </label>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
  
  <label class="item item-input item-select">
    <div class="input-label">
      <b>Bank Account:</b>
    </div>
    <select data-ng-options="OutletAccount as OutletAccount.accountNumber+' - '+OutletAccount.accountName for OutletAccount in OutletCurrencyAccounts" data-ng-model="CollectionEntry.OutletAccount" class="form-control" ng-disabled="!CollectionEntry.Currency" required="">
      <option value="" ng-if="!CollectionEntry.OutletAccount">Select Account</option>
    </select>
  </label>
  <div class="spacer" style="width: 300px; height: 15px;"></div>
  <label class="item item-input" style="border-style: solid; border-width: 0px 0px 1px 0px;  border-color: #D19B07">
    <span class="ion ion-cash"></span> &nbsp; &nbsp; &nbsp;
    <input type="number" id="cash" ng-model="CollectionEntry.amount" placeholder="0.00" required="">
  </label>
</br>
<div style="text-align: center;">
  <button class="button bar-pesa" ng-click="addCollectionEntry()" style=" margin-top: 1px; color: #ffffff;"><span class="ion ion-checkmark-circled"></span> &nbsp; SAVE ENTRY</button>
</div>
</div>
</form>

</ion-content>
</ion-modal-view>
