<!-- Login form -->
<ion-modal-view style="background-color: #F0EFF0">
  <ion-header-bar class="bar-pesa">
    <h1 class="title text-center" style="color: #FFF;">CASH 2 BANK</h1>
    <div class="buttons">
      <button class="button" style="background-color: #004B91" ng-click="closePasswordChange()"><i class="icon ion-close-circled" style="color:#D19B07;"></i></button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="card text-center">
      <div class="item item-text-wrap" style="color:#004B91;">
        <i class="ion-information-circled"></i><b> Please fill in the following fields to change your password.</b>
      </div>
    </div>
      <form name="ChangePasswordForm" style="margin-bottom: 10%;">
        <div class="list list-inset" style="background-color: transparent;">

         <label class="item item-input" style="border-style: solid; border-width: 0px 0px 1px 0px;  border-color: #D19B07; margin-top: 1.5%; background-color: #F0EFF0">
          <span class="ion ion-iphone"></span> &nbsp; &nbsp; &nbsp;
          <input type="email" id="username" ng-model="data.username" placeholder={{username}} readOnly=""  autocomplete="off">
        </label>

        <label class="item item-input" style="border-style: solid; border-width: 0px 0px 1px 0px;  border-color: #D19B07; margin-top: 1.5%; background-color: #F0EFF0">
          <span class="ion ion-iphone"></span> &nbsp; &nbsp; &nbsp;
          <input type="password" id="currentpassword" ng-model="data.currentpassword" placeholder="Enter current password" required="" autocomplete="off">
        </label>

        <label class="item item-input" style="border-style: solid; border-width: 0px 0px 1px 0px;  border-color: #D19B07; margin-top: 1.5%; background-color: #F0EFF0">
          <span class="ion ion-iphone"></span> &nbsp; &nbsp; &nbsp;
          <input type="password" id="newpassword" ng-model="data.newpassword" placeholder="Enter new password" required="" autocomplete="off">
        </label>

        <label class="item item-input" style="border-style: solid; border-width: 0px 0px 1px 0px;  border-color: #D19B07; margin-top: 1.5%; background-color: #F0EFF0">
          <span class="ion ion-iphone"></span> &nbsp; &nbsp; &nbsp;
          <input type="password" id="confirmpassword" ng-model="data.confirmpassword" placeholder="Confirm new password" required="" autocomplete="off">
        </label>
      </div>
      <button class="button bar-golden button-block" ng-click="changePassword(ChangePasswordForm)" type="submit" style=" margin-top: 1px; color: #ffffff; border-radius: 0;">CHANGE PASSWORD</button>
    </form>
  </ion-content>
</ion-modal-view>