<ion-popover-view  name="menuContent">
  <ion-content>
    <div class="list" style="text-align:left">
      <!-- <a class="item" ng-click="faq()"><i class="ion-help" style="color:#004B91; font-size: 25px;"></i>&nbsp; &nbsp;FAQS</a> -->
      <a class="item" ng-click="profile()"><i class="ion-person" style="color:#D19B07; font-size: 25px;"></i>&nbsp;&nbsp;My Profile</a>
      <a class="item" ng-click="logout()" ><i class="ion-log-out" style="color:#C70039; font-size: 25px;"></i>&nbsp;&nbsp;Log out</a>
    </div>
  </ion-content>
</ion-popover-view>