<ion-modal-view>
	<ion-header-bar class="bar-pesa">
		<h1 class="title text-center" style="color:#ffffff;">View Transactions</h1>
		<div class="buttons">
			<button class="button" style="background-color: #004B91;" ng-click="close_viewtransaction()"><i class="icon ion-close-circled" style="color:#D19B07;"></i>
			</button>
		</div>
	</ion-header-bar>
	<ion-content style="color: #000;">
		<div class="padding">
    <div class="card text-center">
      <div class="item item-text-wrap" style="color:#004B91;">
        <i class="ion-information-circled"></i><b> Select transaction to input counted cash</b>
      </div>
    </div>
  </div>
  <label class="item item-input text-center">
  	<div class="input-label" style="color: #004B91;">
  		<b>REQUEST ID: &nbsp;&nbsp;&nbsp;</b> {{CollectionRequest.requestId}}
  	</div>
  </label>

    <div class="row header" style="text-align: center;">
      <div class="col col-40">Account Name</div>
      <div class="col col-20">Tranaction ID</div>
      <div class="col col-20">Time Initiated</div>
      <div class="col col-20">Action</div>
    </div>
    <div class="row" ng-repeat="CollectionTransaction in CollectionRequest.transactions track by $index" style="text-align: center;">
      <div class="col col-40">{{CollectionTransaction.account.accountName}}</div>
      <div class="col col-20">{{CollectionTransaction.trxId}}</div>
      <div class="col col-20">{{CollectionTransaction.timeInitiated| date:'yyyy-MM-dd HH:mm:ss'}}</div>
      <div class="col col-20">
        <button class="btn btn-default btn-xs" ng-click="inputcash(CollectionTransaction)"><i class="fa fa-search-plus"></i> INPUT </button>
      </div>
    </div>

	</ion-content>
</ion-modal-view>